#grid {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    gap: 5px;
}

.box {
    width: 20px;
    height: 20px;
    background: #ebedf0;
}

.l1 { background: #9be9a8; }
.l2 { background: #40c463; }
.l3 { background: #216e39; }